<div style="text-align:center" *ngIf="!isAuthenticated()" >
  <h1>
    Welcome to @appstrax/ng-auth Sample
  </h1>
  <h2>Register:</h2>
  <input type="text" placeholder="firstname" [(ngModel)]="registrationRequest.firstName" />
  <input type="text" placeholder="lastname" [(ngModel)]="registrationRequest.lastName" />
  <input type="email" placeholder="email" [(ngModel)]="registrationRequest.email" />
  <input type="password" placeholder="password" [(ngModel)]="registrationRequest.password" />
  <button type="submit" (click)="register()">Register</button>

  <h2>Login:</h2>
  <input type="email" placeholder="email" [(ngModel)]="authRequest.email" />
  <input type="password" placeholder="password" [(ngModel)]="authRequest.password" />
  <button type="submit" (click)="login()">Login</button>

  <h2>Forgot Password:</h2>
  <input type="email" placeholder="email" [(ngModel)]="forgotPasswordRequest.email" />
  <button type="submit" (click)="forgotPassword()">Forgot Password</button>

  <h2>Reset Password:</h2>
  <input type="email" placeholder="email" [(ngModel)]="resetPasswordRequest.email" />
  <input type="text" placeholder="reset code" [(ngModel)]="resetPasswordRequest.resetCode" />
  <input type="password" placeholder="new password" [(ngModel)]="resetPasswordRequest.newPassword" />
  <button type="submit" (click)="resetPassword()">Reset Password</button>

</div>

<div style="text-align:center" *ngIf="isAuthenticated()" >
  <div>Auth Token: {{ getAuthToken() }}</div>
  <div>User: {{ getUser() }}</div>
  <button type="submit" (click)="logout()">Logout</button>
</div>
